*{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}




body{
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
}

.main{
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top:2rem;
    height: 350px;
    flex-wrap:wrap;
    position: relative;
    display: flex; 
    flex-direction: column;
}
.main{
    display: flex;
}

.heading{
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
    font-weight: 700;
    width: 25vw;
}
.sub-heading{
    width: 25vw;
    color: hsl(303, 10%, 53%);
    margin: 2rem 0;
    line-height: 1.3rem;
}

.rating-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rating{
    background: hsl(300, 24%, 96%);
    width: 23rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex;
    padding:1rem .3rem;
    border-radius: 10px;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}
.stars-description{
    margin-left:2rem;
}


.rating.second{
    margin-right:2rem;
    margin-top: 2rem;
}
.rating.third{
    margin-right:4rem;
    margin-top: 3rem;
}

.review-container{
    display: flex;
    margin: 1rem;
}
.review{
    width: 30vw;
    height: auto;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2.5rem;
    margin:2rem;
    color:white;
    background-color: hsl(300, 43%, 22%);
}
.review img{
    border-radius: 50%;
    width: 4rem;
    height: auto;
}
.review-client{
    width: 12rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.review-name{
    font-weight: 700;
}

.text-primary-pink{
   color: hsl(333, 80%, 67%);
}

.attribution   {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 2rem;
}

/* for iPad viewing*/
@media screen and (max-width:830px){
    .main{
        display: block;
    }
    .review-container{
        flex-direction: column;
        margin-top: 14rem;
    
    }
    .rating-container{
        align-items: flex-start;
    }
}

/* for mobile viewing*/
@media screen and (max-width:400px){
    .heading,.sub-heading{
        width: 50vw;
    }
    .review{
        width: 50vw;
    }
}
